*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  

}
body{
    background: #799F0C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ACBB78, #799F0C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ACBB78, #799F0C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.hamburger{
    width: 50px;
    height: 129px;
   font-size: 260%;
   cursor: pointer;
}
.container{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Urgence{
    width: 40%;
    height: 420px;   
    padding: 4px;
    margin: 10px;
    border-radius: 50px;
background: #799F0C;
box-shadow:  41px 41px 82px #67870a, 
             -41px -41px 82px #8bb70e;
             
}
.tacheQuotidienne{
    width: 30%;
    height: 420px;  
    padding: 4px;
    margin: 10px;
    border-radius: 50px;
    background: #799F0C;
    box-shadow:  41px 41px 82px #67870a, 
                 -41px -41px 82px #8bb70e;
}
.tacheHebdomaire{
    width: 30%;
    height: 420px;   
    padding: 4px;
    margin: 10px;
    border-radius: 50px;
    background: #799F0C;
    box-shadow:  41px 41px 82px #67870a, 
                 -41px -41px 82px #8bb70e;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    font-size: 62px;
    width: 1570px;
  
}
h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1.5px;
    height: 36px;   
}
.paraUrgence{
    width: 100%;
    height: 340px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.sectionHaut{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    width: 1400px;   
    height: 50vh;
}
.sectionHaut h2{
    text-align: center;
}
.sectionBas{ 
    width: 1400px;
    height: 30vh;   
}
.sectionBas h2{
    text-align: center;
}
form{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    position: relative;
}
.ur input{
    width: 442px;
    height: 40px;
border-radius: 5px;
}
.tq input{
    width: 311px;
    height: 40px;
    border-radius: 5px;

}
.th input{
    width: 311px;
    height: 40px;
    border-radius: 5px;
}
.tq button{
    left: 79%;
}
.th button{
    left: 79%;
}
.th input{
    width: 311px;
    height: 40px;
    border-radius: 5px;
}
.primary{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  box-shadow: -3px -3px 7px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
  border:8px solid #ececec;
  outline: none;
    position: absolute;
     top:-40px; 
     left: 84%;
     background-color: white;
     border:none;
     cursor: pointer;
     color: crimson;
     font-size: 22px;
     font-weight: bold;
     font-family: 'Abril Fatface', cursive;
}
.primary:active{
    box-shadow: -3px -3px 7px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -3px -3px 7px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.fa-power-off{
color:red;
font-size: 25px;
}
.containerBas{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 290px;
}
.gauche{
    width: 1000px;
    border-radius: 50px;
    background: #799F0C;
    box-shadow:  41px 41px 82px #67870a, 
                 -41px -41px 82px #8bb70e;
}
.date{
    width: 400px;   
    display: flex;
    justify-content: center;
    align-items: center;

}
.formatDate{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: white;
    color:red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.numeroMois{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}
.jourSemaine{
font-size: 22px;
font-family: 'Abril Fatface', cursive;
}
.mois12{
    font-size: 22px;
    font-family: 'Abril Fatface', cursive;
}
ul li{
    color:white;
    font-size: 22px;
    font-family: 'Assistant', sans-serif;
    list-style-type: none;  

}
span{
    padding-right: 12px;
}
li.finDeTache span{
    text-decoration:line-through red;
}

button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    
}